body {
  color: #FFFFFF;
  background-color: #2c3e50;
}

html, body {
    height: 100%;
  }

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.clock h1 {
  font-size: 500%;
}

.form,
.greetings {
  display : none;
}

.greetings {
  font-size: 30px;
}


.form input[type=text] {
  width:300px;
  font-size:30px;
  opacity:0.8
}

.form div {
  margin-bottom:50px;
}

input[type=text] {
  background:none;
  border-top:none;
  border-right:none;
  border-left:none;
  border-color:#FFFFFF;
  color:#FFFFFF;
  font-weight:bold;
}

input[type=text]::placeholder {
  color:#FFFFFF;
}

input,textarea:focus {
  outline:none;
}


.showing {
  display: block;
}

.toDoList {
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding-left: 0px;
}

.toDoList li {
  list-style: none;
  text-align: left;
}

.toDoList li button {
  background:none;
  border:none;

}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  opacity:0.8;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
  background-color: #2c3e50;
}

.weather {
  position: fixed;
  right: 0;
  top: 0;
}
